.home {
  display: flex;
  position: relative;
  text-align: center;
  padding: 0 0 70px 0;
}

.home-title {
  font-size: 45px;
  font-weight: 700;
  color: var(--color-main-black);
  margin: 45px 0 25px 0;
}

.home-description {
  font-size: var(--font-size-description-desctop);
  font-weight: 500;
  color: var(--color-main-black);
  margin: 0 0 35px 0;
}

.home-img {
  max-width: min(100%, 950px);
  max-height: min(100%, 535px);
  object-fit: cover;
}
