@media (max-width: 480px) {
  .header {
    display: none;
  }

  .home {
    text-align: left;
  }

  .home-title {
    max-width: 250px;
    font-size: 32px;
    margin: 66px 0 25px 0;
  }

  .home-description {
    max-width: 300px;
    font-size: 14px;
    margin: 0 0 28px 0;
  }

  .about-subtitle-ru,
  .about-subtitle-en {
    max-width: 350px;
    font-size: 14px;
    margin: 15px auto;
  }
  .about-desctiption-ru,
  .about-desctiption-en {
    font-size: 14px;
    max-width: 350px;
  }

  .about-divider {
    max-width: 350px;
    margin: 20px auto;
  }
}
