.portfolio {
  color: var(--color-main-black);
  padding: 80px 15px 80px;
  text-align: center;
  background-color: var(--bg-main-grey);
}

.portfolio-title {
  font-weight: 700;
  font-size: var(--font-size-title-desctop);
  margin-bottom: 75px;
}

.portfolio-image {
  width: 100%;
  max-width: 950px;
  height: 630px;
  object-fit: cover;
}

.portfolio-image-description {
  font-weight: 500;
  font-size: var(--font-size-description-desctop);
  margin: 40px 95px;
}
